@use "../../../scss/variables" as var;

.HomepageHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 300px 0;
  overflow: hidden;
  position: relative;
  color: black;
  color: white;
  background-color: var.$primary-pink;

  @media (max-width: 450px) {
    padding: 60px 0 160px 0;
  }

  .container {
    padding: 20px;

    @media (max-width: 750px) {
      width: 100%;
    }

    h1 {
      font-family: var.$Alex-Brush;
      font-size: 180px;
      font-weight: bolder;

      @media (max-width: 900px) {
        font-size: 117px;
      }

      @media (max-width: 600px) {
        font-size: 90px;
        padding-bottom: 6px;
      }

      @media (max-width: 460px) {
        font-size: 65px;
      }

      @media (max-width: 360px) {
        font-size: 50px;
      }
    }

    p {
      width: 70%;
      font-size: 38px;
      line-height: 33px;
      font-weight: 900;
      margin-bottom: 60px;

      @media (max-width: 750px) {
        font-size: 27px;
        width: 500px;
        margin-bottom: 40px;
      }

      @media (max-width: 500px) {
        font-size: 20px;
        width: 80%;
      }

      @media (max-width: 360px) {
        width: 100%;
      }
    }

    // service link
    a {
      width: max-content;
      border-radius: 50px;
      background-color: var.$primary-pink;
      color: black;
      color: white;
      padding: 12px 28px;
      font-size: 24px;
      font-weight: bolder;
      border: 3px solid white;
      outline: 1px solid var.$primary-pink;
      font-family: var.$Rubik;
      transition: 0.4s ease;

      @media (max-width: 750px) {
        font-size: 22px;
        padding: 10px 22px;
      }
    }
  }

  // background image
  .HomepageHeader-background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    min-width: 50%;
    min-height: 50%;

    object-fit: cover;
    z-index: -1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../../randooo.png");
    transform: scale(1);

    filter: blur(8px);
    -webkit-filter: blur(0px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);

    &::after {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: var.$primary-beige;
      mix-blend-mode: multiply;
    }
  }
  .custom-shape-divider-bottom-1653777637 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-bottom-1653777637 svg {
    position: relative;
    display: block;
    width: calc(255% + 1.3px);
    height: 220px;

    @media (max-width: 500px) {
      height: 120px;
    }
  }

  .custom-shape-divider-bottom-1653777637 .shape-fill {
    fill: var.$primary-beige;
  }
}
