@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");

.HomepageHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 0;

  h1 {
    font-family: "Alex Brush", cursive;
    font-size: 110px;
    font-weight: bolder;
    padding-bottom: 50px;
  }

  p {
    width: 30%;
    font-size: 18px;
    line-height: 26px;
  }
}
