@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");

.HomepageHeader {
  h1 {
    font-family: "Alex Brush", cursive;

    font-size: 110px;
    font-weight: bolder;
  }
}
