@use "../../../scss/variables" as var;

.HomepageAboutMe {
  width: 82vw;
  margin: 0 auto;
  margin-top: 200px;

  @media (max-width: 1600px) {
    width: 100vw;
  }

  @media (max-width: 400px) {
    margin-top: 130px;
  }

  .row {
    display: flex;

    .col {
      width: 50%;
      height: 600px;

      @media (max-width: 850px) {
        height: 400px;
      }

      @media (max-width: 550px) {
        height: 250px;
      }

      @media (max-width: 280px) {
        height: 175px;
      }
    }

    .col:nth-child(2) {
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 1px solid black;
      border-top: 1px solid black;

      a {
        font-size: 35px;

        @media (max-width: 850px) {
          font-size: 25px;
        }

        @media (max-width: 550px) {
          font-size: 17px;
        }

        @media (max-width: 280px) {
          font-size: 14px;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;

    &:nth-child(1) {
      object-position: left top;
    }
  }
}
