@use "../../../scss/variables" as var;

.HomepageContact {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var.$secondary-beige;
  padding: 30px 180px;
  border-top: 3px solid var.$primary-pink;

  @media (max-width: 1170px) {
    padding: 30px 70px;
  }

  @media (max-width: 750px) {
    padding: 30px 30px;
  }

  h2 {
    font-size: 60px;
    margin-bottom: 7px;
    font-family: var.$Courgette;
    text-align: center;

    @media (max-width: 440px) {
      font-size: 40px;
    }
  }

  p {
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;

    @media (max-width: 440px) {
      font-size: 18px;
    }
  }

  a {
    button {
      padding: 13px 24px;
      border: 2px solid white;
      color: var.$primary-pink;
      background: var.$primary-pink;
      font-size: 26px;
      cursor: pointer;
      font-weight: bolder;
      color: white;
      transition: 0.4s ease;

      @media (max-width: 440px) {
        padding: 9px 12px;
        font-size: 18px;
      }

      &:hover {
        transform: scale(1.06);
      }
    }
  }
}

// top shape divider
.custom-shape-divider-top-1653000871 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1653000871 svg {
  position: relative;
  display: block;
  width: calc(147% + 1.3px);
  height: 61px;
}

.custom-shape-divider-top-1653000871 .shape-fill {
  fill: #ffffff;
}

//bottom shape divider
.custom-shape-divider-bottom-1653012324 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  border: none;
  outline: none;
}

.custom-shape-divider-bottom-1653012324 svg {
  position: relative;
  display: block;
  width: calc(147% + 1.3px);
  height: 61px;
}

.custom-shape-divider-bottom-1653012324 .shape-fill {
  fill: #ffffff;
}
