@use "../../scss/variables" as var;

.Navbar {
  border-bottom: 2px solid rgb(231, 219, 219);
  padding: 5px 40px;
  position: sticky;
  top: 0;
  background: var.$primary-pink;
  z-index: 1000;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navbar-nav {
      display: flex;
      align-items: center;
      position: relative;

      a {
        margin-left: 10px;
      }

      button {
        margin-left: 10px;
        font-size: 16px;
        cursor: pointer;
        display: flex;
        align-items: center;

        svg {
          margin-left: 5px;
        }
      }

      // web dropdown container
      .Navbar-dropdown {
        position: relative;

        // web dropdown list
        .container {
          padding: 30px 0 30px 0;
          display: flex;
          flex-direction: column;
          position: absolute;
          align-items: flex-start;
          background-color: var.$primary-pink;
          width: max-content;
          z-index: -1;
          border-radius: 4px;
          border-bottom: 1px solid rgb(191, 191, 191);

          div {
            width: 100%;

            a {
              font-size: 17px;
              padding: 9px 15px;
              display: inline-block;
              width: 100%;
              margin: 0;
              transition: 0.1s ease;

              &:hover {
                background-color: var.$primary-beige;
              }
            }
          }
        }
      }
    }
  }

  .Navbar-Logo {
    font-family: var.$Alex-Brush;
    font-weight: bolder;
    font-size: 45px;

    @media (max-width: 350px) {
      font-size: 28px;
    }
  }
}

// hamburger / close button
.menu-btn {
  display: block;
  top: 50%;
  right: 0;
  position: absolute;
  top: 50%;
  width: 36px;
  transform: translate(-50%, -50%);
}

.menu-btn:before,
.menu-btn:after {
  background-color: #fff;
  content: "";
  display: block;
  height: 4px;
  transition: all 200ms ease-in-out;
}

.menu-btn:before {
  box-shadow: 0 10px 0 #fff;
  margin-bottom: 16px;
}

.close-btn:before {
  box-shadow: 0 0 0 #fff;
  transform: translateY(10px) rotate(45deg);
}

.close-btn:after {
  transform: translateY(-10px) rotate(-45deg);
}

// mobile nav
.Navbar-minimized {
  .mobile-nav {
    background-color: var.$primary-pink;
    position: absolute;
    right: 0;
    max-height: 100vh;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s ease;
    padding-top: 20px;
    overflow-y: hidden !important;

    div {
      margin: 8px 0;

      a {
        font-size: 27px;
        font-weight: bold;
      }
    }

    // mobile nav products dropdown
    .Navbar-mobile-dropdown {
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;

      button {
        font-size: 27px;
        font-weight: bold;
        margin-left: 20px;
      }

      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: var.$primary-pink;
        width: max-content;

        div {
          width: 100%;
          margin: 10px 0;

          @media (max-width: 750px) {
            margin: 3px 0;
          }

          a {
            font-size: 16px;
            display: inline-block;
            width: 100%;
            transition: 0.1s ease;
          }
        }
      }
    }
  }
}
