@use "../../scss/variables" as var;

.Navbar {
  border-bottom: 2px solid rgb(231, 219, 219);
  padding: 5px 40px;
  position: sticky;
  top: 0;
  background: var.$primary-pink;
  z-index: 1000;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navbar-nav {
      a {
        margin-left: 10px;
      }
    }
  }

  .Navbar-Logo {
    font-family: var.$Alex-Brush;
    font-weight: bolder;
    font-size: 45px;

    @media (max-width: 350px) {
      font-size: 28px;
    }
  }
}

// hamburger / close button
.menu-btn {
  display: block;
  top: 50%;
  right: 0;

  position: absolute;
  top: 50%;
  width: 36px;
  transform: translate(-50%, -50%);
}

.menu-btn:before,
.menu-btn:after {
  background-color: #fff;
  content: "";
  display: block;
  height: 4px;
  transition: all 200ms ease-in-out;
}

.menu-btn:before {
  box-shadow: 0 10px 0 #fff;
  margin-bottom: 16px;
}

.close-btn:before {
  box-shadow: 0 0 0 #fff;
  transform: translateY(10px) rotate(45deg);
}

.close-btn:after {
  transform: translateY(-10px) rotate(-45deg);
}

// mobile nav
.Navbar-minimized {
  .mobile-nav {
    background-color: var.$primary-pink;
    position: fixed;
    right: 0;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s ease;
    padding-top: 80px;

    div {
      margin: 20px 0;
      a {
        font-size: 27px;
        font-weight: bold;
      }
    }
  }
}
