@use "../../../scss/variables" as var;

.HomepageCategories {
  padding: 140px 0 0 0;
  background-color: var.$primary-beige;

  @media (max-width: 700px) {
    padding: 50px 0 0 0;
  }

  h2 {
    font-size: 40px;
    padding: 0 0 40px 70px;

    @media (max-width: 700px) {
      text-align: center;
      font-size: 33px;
      padding: 0 10px 40px 10px;
    }

    @media (max-width: 500px) {
      font-size: 25px;
    }
  }

  .row {
    display: flex;
    @media (max-width: 700px) {
      flex-direction: column;
    }

    .col {
      position: relative;
      width: 100vw;
      height: 530px;
      border: 3px solid var.$primary-beige;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      .container {
        position: absolute;
        bottom: 0;
        margin: 0 0 20px 20px;

        h4 {
          font-family: var.$Alex-Brush;
          font-size: 72px;
          text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
          color: var.$primary-pink;
          margin-bottom: 10px;

          @media (max-width: 1470px) {
            font-size: 54px;
          }

          @media (max-width: 1010px) {
            font-size: 44px;
          }
        }

        button {
          font-size: 20px;
          padding: 15px 28px;
          font-weight: 600;
          color: black;
          background: rgb(255, 201, 210);
          border: 1px inset black;
          outline: 1px solid var.$primary-pink;
          cursor: pointer;
          transition: 0.5s ease;
          border-radius: 2px;

          background: linear-gradient(
              to left,
              var.$primary-pink 50%,
              transparent 50%
            )
            right;
          background-size: 200%;
          transition: 0.5s ease-out;

          &:hover {
            color: var.$primary-pink;
            background-position: left;
          }

          @media (max-width: 1400px) {
            font-size: 18px;
            padding: 9px 20px;
          }
        }
      }
    }
  }

  // view more container
  .view-more-categories {
    width: 100%;
    background-color: var.$primary-beige;
    padding: 100px 20px 110px 100px;
    position: relative;

    @media (max-width: 1450px) {
      padding: 110px 20px 110px 70px;
    }

    @media (max-width: 1200px) {
      padding: 110px 20px;
    }

    @media (max-width: 650px) {
      padding: 60px 20px;
    }

    h4 {
      font-size: 40px;
      margin-bottom: 20px;

      @media (max-width: 650px) {
        font-size: 22px;
      }
    }

    button {
      font-size: 26px;
      font-weight: bolder;
      border: 1px inset black;
      outline: 1px solid var.$primary-pink;
      color: var.$primary-pink;
      background-color: var.$primary-pink;
      padding: 10px 25px;
      cursor: pointer;
      border-radius: 2px;
      color: black;
    }

    .container {
      position: absolute;
      right: 0;
      margin: -70px 30px 0 0;

      @media (max-width: 1770px) {
        margin-top: -50px;
      }

      @media (max-width: 1050px) {
        margin-top: -10px;
      }

      @media (max-width: 675px) {
        margin-top: 17px;
      }

      img {
        height: auto;
        width: 240px;
        object-fit: cover;
        margin-right: 27px;
        border: 11px solid var.$primary-pink;

        @media (max-width: 1050px) {
          width: 180px;
        }

        @media (max-width: 675px) {
          width: 100px;
          margin-right: 15px;
          border: 3px solid var.$primary-pink;
        }

        @media (max-width: 395px) {
          margin-right: 3px;
          width: 80px;
        }

        &:nth-child(1) {
          transform: rotate(-10deg);
        }

        &:nth-child(2) {
          transform: rotate(4deg);
        }

        &:nth-child(3) {
          transform: rotate(-6deg);
        }
      }
    }
  }
}
