@use "../../scss/variables" as var;

// Footer component
.Footer {
  width: 100vw;
  display: flex;
  justify-content: center;
  height: 330px;
  padding: 50px 0;
  background-color: var.$primary-pink;

  @media (max-width: 750px) {
    flex-direction: column;
    height: max-content;
    padding: 30px;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    margin: 0 30px;

    @media (max-width: 750px) {
      margin: 13px 0;
    }

    h4 {
      letter-spacing: 1px;
    }

    * {
      margin: 5px 0;
      font-size: 15px;

      &:hover:not(h4, p) {
        text-decoration: underline;
      }
    }
  }

  .Footer-socials {
    margin-left: 150px;

    @media (max-width: 750px) {
      margin: 13px 0;
    }

    .container {
      display: flex;
      margin: 0;

      a {
        height: 40px;
        width: 40px;

        img {
          height: 100%;
          width: auto;
        }
      }
    }
  }
}
