@use "./scss/variables" as var;
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  overflow-x: hidden;
  // background: var.$primary-beige;
}

a {
  text-decoration: none;
  color: initial;
  font-style: initial;

  &:visited {
    color: initial;
    text-decoration: none;
  }
}

a:-webkit-any-link {
  text-decoration: none;
  color: initial;

  &:visited {
    color: initial;
    text-decoration: none;
  }
}
