@use "./scss/variables" as var;
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  transition: 0.6s ease;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: initial;
  font-style: initial;

  &:visited {
    color: initial;
    text-decoration: none;
  }
}

a:-webkit-any-link {
  text-decoration: none;
  color: initial;

  &:visited {
    color: initial;
    text-decoration: none;
  }
}

button {
  border: none;
  outline: none;
  background: none;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var.$primary-beige #813b3b;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: pink;
  border-radius: 20px;
  border: 2px solid pink;
}

ul {
  list-style-type: none;
}

// about me / customer hompage container
.About-Client-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  .heart {
    position: absolute;
    margin: 0 auto;
    margin-top: 100px;
    z-index: -1;
    width: auto;
    height: 100%;
    aspect-ratio: 1;
    border-image: radial-gradient(#fdc6cf1f 69%, rgba(189, 90, 90, 0) 11%) 84.5%
      fill/100%;
    clip-path: polygon(-41% 0, 50% 91%, 141% 0);
  }
}
