@use "./scss/variables" as var;
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  transition: 0.6s ease;
}

body {
  overflow-x: hidden;
  // background: var.$primary-beige;
}

a {
  text-decoration: none;
  color: initial;
  font-style: initial;

  &:visited {
    color: initial;
    text-decoration: none;
  }
}

a:-webkit-any-link {
  text-decoration: none;
  color: initial;

  &:visited {
    color: initial;
    text-decoration: none;
  }
}

button {
  border: none;
  outline: none;
  background: none;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var.$primary-beige #813b3b;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: var.$primary-beige;
  border-radius: 20px;
  border: 2px solid var.$primary-pink;
}
