@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap");

$primary-beige: #e0cdbc;
$primary-pink: #fdc6cf;

//fonts
$Rubik: "Rubik", "sans-serif";
$Alex-Brush: "Alex Brush", "Rubik", "sans-serif", cursive;
